* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    border: 2px solid black;
    width: 400px;
    height: 400vh;
    margin: 50px auto;
    
}

#red {
    background-color: red;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 300px;
    left: 60px;
}

#green {
background-color: greenyellow;
    width: 100px;
    height: 100px;
    position: sticky;
   top: 300px;
}

#blue {
    background-color: blue;
    width: 100px;
    height: 100px;
    position : absolute;
    bottom: 15px;
    right: 15px;
}